body {
  font-family: sans-serif;
}

.incomplete-area {
  background-color: #c6ffe2;
}

.complete-area {
  background-color: #ffffe0;
}

li {
  margin-right: 5px;
}

.list-row {
  display: flex;
  align-items: center;
}
